<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="mesa">
      <h2 data-cy="mesaDetailsHeading"><span jhiTranslate="restauranteApp.mesa.detail.title">Mesa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mesa.id }}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.estado">Estado</span></dt>
        <dd>
          <span>{{ mesa.estado }}</span>
        </dd>
        <dt><span jhiTranslate="restauranteApp.mesa.numero">Numero</span></dt>
        <dd>
          <span>{{ mesa.numero }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mesa', mesa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
