<div>
  <h2 id="page-heading" data-cy="LineaPedidoHeading">
    <span jhiTranslate="restauranteApp.lineaPedido.home.title">Linea Pedidos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="restauranteApp.lineaPedido.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-linea-pedido"
        [routerLink]="['/linea-pedido/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restauranteApp.lineaPedido.home.createLabel"> Create a new Linea Pedido </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lineaPedidos?.length === 0">
    <span jhiTranslate="restauranteApp.lineaPedido.home.notFound">No lineaPedidos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lineaPedidos && lineaPedidos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="restauranteApp.lineaPedido.precio">Precio</span></th>
          <th scope="col"><span jhiTranslate="restauranteApp.lineaPedido.iva">Iva</span></th>
          <th scope="col"><span jhiTranslate="restauranteApp.lineaPedido.cantidad">Cantidad</span></th>
          <th scope="col"><span jhiTranslate="restauranteApp.lineaPedido.registroMesa">Registro Mesa</span></th>
          <th scope="col"><span jhiTranslate="restauranteApp.lineaPedido.producto">Producto</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lineaPedido of lineaPedidos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/linea-pedido', lineaPedido.id, 'view']">{{ lineaPedido.id }}</a>
          </td>
          <td>{{ lineaPedido.precio }}</td>
          <td>{{ lineaPedido.iva }}</td>
          <td>{{ lineaPedido.cantidad }}</td>
          <td>
            <div *ngIf="lineaPedido.registroMesa">
              <a [routerLink]="['/registro-mesa', lineaPedido.registroMesa?.id, 'view']">{{ lineaPedido.registroMesa?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lineaPedido.producto">
              <a [routerLink]="['/producto', lineaPedido.producto?.id, 'view']">{{ lineaPedido.producto?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/linea-pedido', lineaPedido.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/linea-pedido', lineaPedido.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lineaPedido)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
