<div>
  <h1>
    <span jhiTranslate="restauranteApp.mesa.home.title">Mesas</span>
  </h1>

  <div class="alert alert-warning" id="no-result" *ngIf="mesas?.length === 0">
    <span jhiTranslate="restauranteApp.mesa.home.notFound">No mesas found</span>
  </div>

  <div id="entities" *ngIf="mesas && mesas.length > 0">
    <div id="mesas">
      <div *ngFor="let mesa of mesas; let indice = index">
        <h2>Mesa {{ mesa.numero }}</h2>
        <div *ngIf="mesa.estado == 0" [routerLink]="['/mesa', mesa.id, 'tpv']">
          <img class="tamano" src="../../content/images/mesas/mesa-libre.png" title="Mesa {{ indice + 1 }}" alt="img1" />
        </div>
        <div *ngIf="mesa.estado == 1">
          <img class="tamano" src="../../content/images/mesas/mesa-reservada.png" title="Mesa {{ indice + 1 }}" alt="img2" />
        </div>
        <div *ngIf="mesa.estado == 2" [routerLink]="['/mesa', mesa.id, 'tpv']">
          <img class="tamano" src="../../content/images/mesas/mesa-ocupada.png" title="Mesa {{ indice + 1 }}" alt="img3" />
        </div>
      </div>
    </div>
  </div>
</div>
